vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Jun 2021 09:40:26 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|PC01\\Gebruiker
vti_modifiedby:SR|PC01\\Gebruiker
vti_timecreated:TR|11 Jun 2021 11:27:16 -0000
vti_backlinkinfo:VX|Website\\ Winc\\ Academy/Winc_Academy/_Opdrachten/08_opdracht_Groter_HTML_Formulier/contact.html Website\\ Winc\\ Academy/Winc_Academy/_Opdrachten/08_opdracht_Groter_HTML_Formulier/index.html Website\\ Winc\\ Academy/Winc_Academy/_Opdrachten/08_opdracht_Groter_HTML_Formulier/about.html
vti_cacheddtm:TX|16 Jun 2021 09:40:26 -0000
vti_filesize:IR|3033
