/* CSS Grid */

.container {
    border: 5px solid #A7AAA8;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 500px 200px 50px;
}

/* CSS Basic */

.container div  { /*CSS Bacic*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
  }

html, body {
    font: normal 15px Arial, Helvetica, sans-serif;
    margin: 10px;
  }

.container div:nth-child(1n) { /*CSS Bacic*/
    background-color: #51A6F8;
  }
  
.container div:nth-child(2n) { /*CSS Bacic*/
    background-color: #6FC040;
  }

.container div:nth-child(3n) { /*CSS Bacic*/
    background-color: #B36AE2;
  }

.container div:nth-child(4n) { /*CSS Bacic*/
    background-color: #0365C0;
  }

/* CSS Grid - scale */

@media (min-width: 768px) {

    .container { /*CSS Grid*/
        border: 5px solid #A7AAA8;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 22%;
        grid-template-rows: 600px 200px 40px; 
    }

    .header {
        grid-row: 1 / 4;
    }
    
    .main {
        grid-column: 2 / 2;
    }
    
    .area {
        grid-column: 2 / 2;
    }
    
    .footer {
        grid-column: 2 / 2;
    }   
}

@media (min-width: 1024px) {

    .container { /*CSS Grid*/
        border: 5px solid #A7AAA8;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 22% auto 22%;
        grid-template-rows: 800px 60px;
        }
          
    .header {
        grid-row: 1 / 3;
        }
              
    .main {
        grid-column: 2 / 2;
        }
              
    .area {
        grid-column: 4 / 3;
        grid-row: 1 / 3;
        }
              
    .footer {
    grid-column: 2 / 3;
    }
}